img {
  max-height: 50px;
  float: left;
}
.header button {
  float: right;
  height: 100%;
  margin-top: 15px;
  margin-right: 5px;
}

.header {
  background-color: white;
  height: 50px;
  border: 3px solid black;
}

.about {
  height: 100%;
}
